<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %} - Autenticatec</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/beer.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/beer.theme.css') }}">
    <script type="module" src="{{ url_for('static', filename='js/beer.min.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/material-dynamic-colors.min.js') }}"></script>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/snackbar.min.css') }}">
    <script src="{{ url_for('static', filename='js/snackbar.min.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/site.css') }}">
    {% block styles %}{% endblock %}
</head>

<body>
    <header>
        <nav>
            <button class="circle transparent" data-ui="dialog">
                <i>menu</i>
            </button>
            <h5 class="max">{% block header_title %}{% endblock %}</h5>

            {% if current_user.is_authenticated %}
                <button class="circle transparent">
                    <i>more_vert</i>
                    <menu class="left no-wrap">
                        <a class="row" href="{{ url_for('logout') }}">
                            <i>logout</i>
                            <span>Logout</span>
                        </a>
                    </menu>
                </button>
            {% endif %}
        </nav>
    </header>

    <dialog class="left no-padding">
        <nav class="drawer">
            <header>
                <nav>
                    <h6 class="max"></h6>
                    <button class="transparent circle large" data-ui="dialog">
                        <i>close</i>
                    </button>
                </nav>
            </header>

            {% if current_user.is_authenticated %}
                <a href="{{ url_for('profile') }}" class="{% if request.path == url_for('profile') %}active{% endif %}">
                    <i>person</i>
                    <span>Profile</span>
                </a>
            {% else %}
                <a href="{{ url_for('logout') }}" class="{% if request.path == url_for('login') %}active{% endif %}">
                    <i>login</i>
                    <span>Login</span>
                </a>
            {% endif %}
        </nav>
    </dialog>

    {% block main %}{% endblock %}
    {% block scripts %}{% endblock %}
</body>

</html>