{% extends 'base.html' %}

{% block title %}{% block header_title %}Login{% endblock %}{% endblock%}

{% block styles %}

{% endblock %}

{% block main %}
<main>
    <div class="grid">
        <div class="s12 l6">
            <div class="video-wrapper">
                <video id="videoUser" autoplay class="video"></video>
                <button class="transparent circle video-facing-mode-toggler">
                    <i>flip_camera_android</i>
                </button>
            </div>
        </div>
        <div class="s12 l6 padding middle-align center-align">
            <div>
                <h5>Welcome to Autenticatec</h5>
                <p>
                    Scan your face to login or use your email/username and password
                </p>

                <div class="space"></div>

                <div class="field label border">
                    <input type="text" id="txtLogin">
                    <label>Email or Username</label>
                </div>

                <div class="field label border">
                    <input type="password" id="txtPassword">
                    <label>Password</label>
                </div>
    
                <button id="btnLogin">Login</button>

                <img src="" alt="" id="result">
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block scripts %}
<script type="module" src="{{ url_for('static', filename='js/auth/login.js') }}"></script>
{% endblock %}